/Week4/Week4_WS_StudentMangement/nbproject/private/
/Week4/Week4_WS_StudentMangement/build/
/Week5/Week5_Demo_JavaBeans/nbproject/private/
/Week5/Week5_Demo_JavaBeans/build/
/Week5/Week5_Demo_StudentBean/nbproject/private/
/Week5/Week5_Demo_StudentBean/build/
/Week5/Week5_Demo_StudentListUseBean/nbproject/private/
/Week5/Week5_Demo_StudentListUseBean/build/
/Week5/Shushi_Demo/nbproject/private/
/Week5/Shushi_Demo/build/
