/Week4/Week4_WS_StudentMangement/nbproject/private/
/Week4/Week4_WS_StudentMangement/build/
/Week5/Week5_Demo_JavaBeans/nbproject/private/
/Week5/Week5_Demo_JavaBeans/build/
/Week5/Week5_Demo_StudentBean/nbproject/private/
/Week5/Week5_Demo_StudentBean/build/
/Week5/Week5_Demo_StudentListUseBean/nbproject/private/
/Week5/Week5_Demo_StudentListUseBean/build/
/Week5/Shushi_Demo/nbproject/private/
/Week5/Shushi_Demo/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/Week6/Week6_CookieDemo/nbproject/private/
/Week6/Week6_CookieDemo/build/
/Week6/Week6_SessionTrackingDemo/nbproject/private/
/Week6/Week6_SessionTrackingDemo/build/
/Week6/Week6_WS6_LoginWithRememberMe/nbproject/private/
/Week1/WebDay/nbproject/private/
/Week1/WebDay/build/
/Week1/JSPDemo_NormalPattern/nbproject/private/
/Week1/JSPDemo_NormalPattern/build/
/Week1/JSPDemo_NormalPattern2/nbproject/private/
/Week1/JSPDemo_NormalPattern2/build/
/Week1/Login/nbproject/private/
/Week1/Login/build/
/Week1/LoginPage_MVC_ServletPattern/nbproject/private/
/Week1/LoginPage_MVC_ServletPattern/build/
/Week1/MVC_Calculator/nbproject/private/
/Week1/MVC_Calculator/build/
/Week2/Project2_Student_Slot2/build/
/Week2/Project2_Student_Slot2/nbproject/private/
/Week2/Test_Phu/build/
/Week2/Test_Phu/nbproject/private/
/Week2/Week2_AddNewStudent/build/
/Week2/Week2_AddNewStudent/nbproject/private/
/Week2/Week2_Calculator_InSamePage/build/
/Week2/Week2_Calculator_InSamePage/nbproject/private/
/Week2/Week2_Demo_HelloWorld/build/
/Week2/Week2_Demo_HelloWorld/nbproject/private/
/Week2/Week2_Demo_TestParamServlet/build/
/Week2/Week2_Demo_TestParamServlet/nbproject/private/
/Week2/Demo2_Student/nbproject/private/
/Week2/Demo2_Student/build/
/Week2/AddNewStudent/nbproject/private/
/Week2/AddNewStudent/build/
/Week2/Calculator_InSamePage/nbproject/private/
/Week2/Calculator_InSamePage/build/
/Week2/Demo_HelloWorld/nbproject/private/
/Week2/Demo_HelloWorld/build/
/Week2/Demo_TestParamServlet/nbproject/private/
/Week2/Demo_TestParamServlet/build/
/Week3/Demo_2909/nbproject/private/
/Week3/DeclarationTag/nbproject/private/
/Week3/DeclarationTag/build/
/Week3/Demo_DeclarationTag/nbproject/private/
/Week3/Demo_ExceptionHandlingInJSP/nbproject/private/
/Week3/Demo_ExceptionHandlingInJSP/build/
/Week3/Demo_Expression/nbproject/private/
/Week3/Demo_Expression/build/
/Week3/Demo_GetStudentList/nbproject/private/
/Week3/Demo_GetStudentList/build/
/Week3/Demo_IncludePage/nbproject/private/
/Week3/Demo_IncludePage/build/
/Week3/WS3_JSPScriplet/nbproject/private/
/Week3/WS3_JSPScriplet/build/
/Week3/WS3_JSPScriptingElements/nbproject/private/
/Week3/WS3_JSPScriptingElements/build/
/Week3/WS3_WebEmailListJsp/nbproject/private/
/Week3/WS3_WebEmailListJsp/build/
/Week4/Demo_MiniTest/nbproject/private/
/Week4/Demo_MiniTest/build/
/Week6/ShopCart_NoDB/nbproject/private/
/Week6/ShopCart_NoDB/build/
/Week4/WS_StudentManagement/nbproject/private/
/Week4/WS_StudentManagement/build/
/Week5/Demo_JavaBeans/nbproject/private/
/Week5/Demo_JavaBeans/build/
/Week5/Demo_StudentBean/nbproject/private/
/Week5/Demo_StudentBean/build/
/Week5/Demo_StudentListUseBean/nbproject/private/
/Week5/ShushiShop_Demo/nbproject/private/
/Week5/ShushiShop_Demo/build/
/Week7/Demo_EL/nbproject/private/
/Week7/Demo_EL/build/
/Week7/Demo_JSTL/nbproject/private/
/Week7/Demo_JSTL/build/
/Week7/PracticalTest2/nbproject/private/
/Week7/PracticalTest2/build/
/Week7/PT2/PT2/nbproject/private/
/Week6/DemoCookie_2110/nbproject/private/
/Week6/DemoCookie_2110/build/
/Week6/LoginRememberMe_UsingCookie/nbproject/private/
/Week6/LoginRememberMe_UsingCookie/build/
/Week8/Demo_CustomTag_CountAge/nbproject/private/
/Week8/Demo_CustomTag_CountAge/build/
