<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>max-shopping-cart</param-name>
        <param-value>99</param-value>
    </context-param>   
    <context-param>
        <param-name>project-team-name</param-name>
        <param-value>The Coding</param-value>
    </context-param>   
    <welcome-file-list>
        <welcome-file>student-form.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>TestParamServlet</servlet-name>
        <servlet-class>controller.TestParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestParamServlet</servlet-name>
        <url-pattern>/TestParamServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
